@import "tailwindcss";
@import '../styles/_variables.scss';                                    
@import '../styles/_keyframe-animations.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --playfair: "Playfair Display", Georgia, serif;
  --lato: "Lato", "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--playfair);
  --font-lato: var(--lato)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
